.bg-index {
  background-image: url('../../assets/blog/blog-bg-1.jpg');
  background-size: contain;
}
.paint-bg {
  background-image: url(https://www.wukaijin.com/static-api/blog/painting-bg-m.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-air {
  background: linear-gradient(to bottom, #d5dee7 0%, #e8ebf2 50%, #e2e7ed 100%),
    linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.02) 50%,
      rgba(255, 255, 255, 0.02) 61%,
      rgba(0, 0, 0, 0.02) 73%
    ),
    linear-gradient(33deg, rgba(255, 255, 255, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%);
  background-blend-mode: normal, color-burn;
}
.bg-escape {
  background: #3e3e3e;
  background-image: radial-gradient(
    at 50% -16%,
    rgba(255, 255, 255, 0.05) 0%,
    rgba(0, 0, 0, 0.5) 190%
  );
  background-blend-mode: normal, multiply;
}
.bg-deepFocus {
  background-image: linear-gradient(-180deg, #ebebeb 0%, #dcdddf 48%, #c4c5c7 99%);
}
.logo {
  filter: brightness(0);
}

.category-guide {
  display: flex;
  align-items: center;
  padding: 4px 0;
  cursor: pointer;
  .poster {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    opacity: 0.7;
    margin-right: 4px;
  }
  // &.active {
  // @apply opacity-70;
  // }
  &:hover {
    text-decoration: underline;
    .poster {
      opacity: 1;
      scale: 1.1;
    }
  }
}
