.music-page {
  @apply min-h-screen bg-[var(--neu-greyLight-1)];
}
.music-header {
  @apply sticky top-0 h-14 flex justify-between items-center px-2 backdrop-blur-sm shadow-lg rounded-2xl;
}
.music-logo {
  @apply mx-2 inline-flex items-center justify-center aspect-square rounded-full h-8 w-8;
  background-color: var(--neu-greyLight-1);
  box-shadow: inset 0.2rem 0.2rem 1.2rem var(--neu-greyLight-2),
    inset -0.8rem -0.8rem 1.4rem var(--neu-white);
  img {
    width: 80%;
    height: 80%;
    filter: hue-rotate(35deg);
  }
}
.music-dim {
  @apply backdrop-blur-sm shadow-lg text-white;
}
.music-query-panel {
  @apply my-4 music-dim bg-gray-600/10 rounded-2xl px-8 py-6;
}

.bg-wave {
  background-image: url('../../assets/muisc/wave-purple-b.svg');
}
