.playlist-card {
  @apply rounded-2xl bg-slate-100/50;
}

.playlist-table {
  @apply w-full text-base;
  table-layout: auto;
  word-break: break-all;
  tr {
    height: auto;
    td:nth-child(1) {
      flex: 1;
    }
  }
  width: 100%;
  th,
  td,
  tl {
    @apply border-slate-400/40;
    background-color: transparent;
    word-break: break-all;
    white-space: normal !important;
    text-overflow:ellipsis;
  }
  // tr {

  // }
}
