@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  color: #213547;
  font-size: 16px;
  background-color: #ffffff;
}
@layer utilities {
  .required {
    @apply after:content-['*'] after:ml-0.5 after:text-red-500;
  }
}

@layer components {
  .bg-g-purple {
    @apply bg-gradient-to-r to-indigo-500 from-purple-500;
  }
  .bg-g-fuchsia {
    @apply bg-gradient-to-r from-fuchsia-500 to-purple-600;
  }
  .bg-g-indigo {
    @apply bg-gradient-to-r from-sky-400 to-indigo-500;
  }
  .bg-g-blue {
    @apply bg-gradient-to-r from-sky-400 to-blue-600;
  }
  .bg-g-sky {
    @apply bg-gradient-to-r from-sky-400 to-indigo-500;
  }
  .bg-g-orange {
    @apply bg-gradient-to-r from-amber-300 to-orange-500;
  }
  .bg-g-pink {
    @apply bg-gradient-to-r from-orange-400 to-pink-600;
  }
  .bg-g-green {
    @apply bg-gradient-to-r from-green-400 to-cyan-500;
  }
  .bg-g-cyan {
    @apply bg-gradient-to-r from-teal-400 to-cyan-400;
  }
  .bg-g-rose {
    @apply bg-gradient-to-r from-sky-400 to-indigo-500;
  }
}
