.todos {
  padding: 0 1rem;
  .title {
    padding: 1rem;
    padding-bottom: 0;
    font-size: 1.25rem;
    font-weight: 500;
    display: flex;
    justify-content: space-between;
  }
  .content {
    padding-bottom: 1.5rem;
    .todoItem{
      input[type=checkbox] {
        margin-right: 1rem;
      }
      blockquote {
        flex: 1;
        vertical-align: middle;
      }
    }
  }
}
.gapRight {
  margin-right: 1rem;
}
