.todos {
  // background-color: rgba(246, 112, 112, 0.102);
  @apply bg-gradient-to-r from-sky-400 to-indigo-500;
  
  padding: 48px 24px;
  .title {
    padding: 12px 0;
    font-size: 18px;
    font-weight: 500;
    display: flex;
    justify-content: space-between;
  }
  .content {
    .todoItem{
      input[type=checkbox] {
        margin-right: 12px;
      }
      blockquote {
        flex: 1;
        vertical-align: middle;
      }
    }
  }
}
.gapRight {
  margin-right: 12px;
}
