.todos {
  padding: 0 1rem;
  .title {
    padding: 1rem;
    padding-bottom: 0;
    font-size: 1.25rem;
    font-weight: 500;
    display: flex;
    justify-content: space-between;
  }
  .content {
    padding-bottom: 1.5rem;
    .todoItem {
      input[type='checkbox'] {
        margin-right: 1rem;
      }
      blockquote {
        flex: 1;
        vertical-align: middle;
      }
    }
  }
}
.gapRight {
  margin-right: 1rem;
}

.enter {
  @apply opacity-0 translate-x-full;
}
.enterActive {
  @apply opacity-100 -translate-x-0 transition duration-1000;
}
.exit {
  @apply opacity-100 translate-x-0;
}
.exitActive {
  @apply opacity-0 -translate-x-full transition duration-1000;
}
