name: Build app and deploy to Tencent
on:
  #监听push操作
  push:
    branches:
      # master 分支，你也可以改成其他分支
      - master
jobs:
  # 任务ID
  build:
    # 运行环境
    runs-on: ubuntu-latest
    environment:
      name: production
    # 步骤
    steps:
    # 使用别人的action
    - name: Copy codes
      uses: actions/checkout@v3
    - name: Setup Node
      uses: actions/setup-node@v3
      with:
        node-version: 16
    - name: Cache
      id: cache-dependencies
      uses: actions/cache@v3
      with:
        path: |
          **/node_modules
        key: ${{hashFiles('**/pnpm-lock.yaml')}}

    # 步骤名称
    - name: Installing Dependencies
      if: steps.cache-dependencies.outputs.cache-hit != 'true'
      run: |
        npm i pnpm -g
        pnpm install

    - name: npm run build
      run: npm run build
    # 命名这个任务为发布Deploy
    - name: Deploy
      # 因为构建之后，需要把代码上传到服务器上，所以需要连接到ssh，并且做一个拷贝操作
      uses: cross-the-world/scp-pipeline@master
      env:
        WELCOME: "ssh scp ssh pipelines"
        LASTSSH: "Doing something after copying"
      with:
        host: ${{ secrets.SERVER_HOST }}
        user: ${{ secrets.USER_NAME }}
        pass: ${{ secrets.USER_PASS }}
        connect_timeout: 10s
        local: './dist/*'
        remote: /usr/local/web/portal-web